.hero
  height: 1000px
  width: 100%
  background: url("../img/hero-bg.jpg") no-repeat
  background-size: 100%
.active-hero
  background-color: $blue
.hero-desc
  padding: 33px 50px
  margin-top: 320px
  width: 840px
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(#fff, 0.5)
.hero-desc-wrap
  display: flex
  justify-content: center
  align-items: center
  +blue
.hero-desc__left
  text-align: right
  line-height: 58px
  font-size: 60px
  font-weight: 300
  margin-right: 20px
  +blue
.hero-desc__right
  text-transform: uppercase
  line-height: 138.48px
  font-weight: 900
  font-size: 138px
