.works
  background-color: #81a256
  background-image: url("../img/works-bg.png")
  background-repeat: no-repeat
  background-position: center
  position: relative
  bottom: 21px
  transition: 0.3s
  padding-bottom: 30px  
  .active
    background-color: #a1ca6c
  p
    color: #fff
.line
  width: 100%
  height: 1px
  background-color: #94b963
.examples
  margin: 20px 0
  display: flex
  align-items: center
  justify-content: space-between
  span
    text-transform: uppercase
    font-size: 20px
    line-height: 24px
    font-weight: 700
.category-wrap
  width: 45%
  display: flex
  justify-content: space-between
  align-items: center
.category-item
  font-size: 16px
  font-weight: 700
  line-height: 24px
  padding: 8px
  cursor: pointer
  transition: 0.3s
  &.active
    background-color: #f5c149
    border-radius: 7px
.work
  height: 250px
  margin-bottom: 20px
.work-img
  height: 200px 
  background-repeat: no-repeat
  background-position: center center
  transition: 0.3s
  &-1
    background-image: url(../img/p-work-1.png)
  &-2
    background-image: url(../img/p-work-2.png)
  &-3
    background-image: url(../img/p-work-3.png)
  &-4
    background-image: url(../img/p-work-4.png)
  &-5
    background-image: url(../img/p-work-5.png)
  &-6
    background-image: url(../img/p-work-6.png)
  &-7
    background-image: url(../img/p-work-7.png)
  &-8
    background-image: url(../img/p-work-8.png)
.work-desc
  position: relative
  bottom: 1px
  background-color: #eee
  color: #727272
  text-align: center
  padding: 20px
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
//hover
.work.hover
  transition: 0.3s
  .work-img
    filter: blur(4px)
  .plus
    display: inline
.work::after
  position: relative
  content: ''
  width: 0
  height: 0
  border-bottom: 20px solid #eeeeee
  border-left: 18px solid transparent
  border-right: 18px solid transparent
  display: inline
  z-index:  999
  left: 107px
  bottom: 95px
.plus
  position: absolute
  z-index: 999
  bottom: 134px
  left: 113px
  background-repeat: no-repeat
  background-color: 
  background-position: center center
  z-index: 999
  width: 50px
  height: 50px
  cursor: pointer
  transition: 0.3s
  background-image: none
.work.hover .plus
  transition: 0.3s
  background-image: url(../img/plus.png)